body{
    background-color: #463d36;
    color: #463d36;
    font-family: sans-serif;
}

.card{
    background-color: white;
    margin: 100px auto;
    padding: 40px;
    width: 600px;
    border-radius: 20px;
}

.card h1 ,.card h2{
    text-transform: uppercase;
    margin: 0px;
}

.card h2{
    color: #a6012e;
    font-size: 28px; 
}

.card h1{
    font-size: 40px;
    font-weight: normal;
    margin-bottom: 28px;
}

.card p{
    font-size: 28px;
}

.card button{
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 30px 40px;
    background-color: #463d36;
    color: white;
}