body {
  background-image: linear-gradient(to bottom right, #3899ee, #38e2ee);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.btn {
  text-decoration: none;
  color: purple;
  font-weight: bold;
  text-transform: uppercase;
  padding: 1rem 4rem;
  margin-left: 3rem;
  background-color: white;
  border-radius: 0.2rem;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  position: relative;
}

.hover1 {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.hover1:hover {
  transform: translateY(-5px);
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 15px rgba(0, 0, 0, 0.22);
}

.hover2 {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 15px rgba(0, 0, 0, 0.22);
}

.hover2:hover {
  transform: scale(0.95);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.18), 0 6px 6px rgba(0, 0, 0, 0.22);
}

.btn2 {
  text-decoration: none;
  color: #29e7b8;
  font-weight: bold;
  text-transform: uppercase;
  padding: 1rem 4rem;
  margin-left: 3rem;
  border: 3px solid #29e7b8;
  border-radius: 0.2rem;
  position: relative;
  overflow: hidden;
  transition: color 0.2s ease-in-out;
}

.btn2:hover {
  color: white;
}

.hover3::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #29e7b8;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  transition: transform 0.2s ease-in-out;
  z-index: -1;
}

.hover3:hover::before {
  transform: translateX(0);
}
